body{
    font-family: 'Roboto', sans-serif;
}

h4{
    background-color: #1CD1B0;
    margin: 0pt;
    padding: 4pt;
    height: 10pt;
}


h2{
    background-color: #00669F;
    box-sizing: border-box;
    color: white;
    font-size: 20pt;
    font-weight: normal;
    height: 60pt;
    margin: 0pt;
    padding: 20pt 4pt;
}

.navbar{
    height: 20pt;
    background-color: #001D2D;
    text-align: right;
}
a{
    text-decoration: none;
    color: blanchedalmond;
    font-weight: normal;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    display: inline;
}

div{
    width: 700px;
    height: 700px;
    position: absolute;
    top: 150px;
    left: 380px;
    background-color: #00669F;
    color: white;
    border-radius: 49.09px;
}

.fila1{
    display: inline;
}

.checkbox{
    display: block;
}

.spanPoderes{
    position: absolute;
    bottom: 50px;
}

label{
    margin-left: 100px;
    margin-right: 100px;
}
input{
    height: 40px;
    width: 200px;
    border-radius: 13.34px;
    margin-left: 100px;
    margin-right: 100px;
}
.inputFile{
    margin-left: -20px;
}


footer{
    background-color: #00669F;
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0%;
    z-index: 6;
}
.derechos{
    color: white;
    font-family: serif;
    font-size: 15px;
    margin: 20px 360px;
    position: absolute;
    width: 400px;
}
.github{
    height: auto;
    margin-left: 90%;
    margin-top: 19px;
    position: absolute;
    width: 80px;
}