body{
    font-family: 'Roboto', sans-serif;
}

h4{
    background-color: #1CD1B0;
    margin: 0pt;
    padding: 2pt;
}
h2{
    background-color: #00669F;
    color: white;
    font-weight: normal;
    margin: 0pt;
}

.plus{
    background-color: #00669F;
    border-radius: 50%;
    box-sizing: border-box;
    color: white;
    height: 50px;
    left: 900px;
    padding: 16px 18px 17px 17px;
    position: fixed;
    top: 300px;
    width: 50px;
}

.article{
    background-color: #F3F3F3;
    border-radius: 15px 15px 0px 0px;
    height: 600px;
    margin: 30px 300px 30px;
    position: relative;
    width: 400px;
}

.corazon{
    color: #CC2424;
    font-size: 20pt;
    left: 20px;
    position: absolute;
    top: 25px;
    z-index: 5;
}

.fondo_imagen{
    background-size: cover;
    border-radius: 15px 15px 0px 0px;
    height: 40%;
    position: absolute;
    width: 100%;
}

.fondo_batman{
    background-image: url('../img/bg-batman.jpg');
    
}
.fondo_maravilla{
    background-image: url('../img/bg-wonderw.jpg');
}
.fondo_superman{
    background-image: url('../img/bg-superman.jpg');
}

.perfil_imagen{
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    height: 150px;
    left: 120px; 
    position: absolute;
    top: 150px;
    width: 150px;
}
.perfil_batman{
    background-image: url('../img/batman.jpg');
}
.perfil_maravilla{
    background-image: url('../img/wonderw.jpg');

}
.perfil_superman{
    background-image: url('../img/superman.jpg');
}


.texto{
    left: 42px;
    position: absolute;
    top: 290px;
    width: 80%;
}
.h3_batman{
    margin-left: 38%;
    margin-right: 38%;
}
.h3_maravilla{
    margin-left: 24%;
    margin-right: 23%;
}
.h3_superman{
    margin-left: 35%;
    margin-right: 35%;
}

p{
    text-align: justify;
}

.boton{
    background-color: #00669F;
    border-radius: 7px;
    bottom: 5%;
    color: white;
    height: 30pt;
    margin-left: 80pt;
    margin-right: 80pt;
    padding-top: 15pt;
    position: absolute;
    text-align: center;
    width: 130pt;
}
footer{
    background-color: #00669F;
    height: 60px;
    width: 100%;
}
.derechos{
    color: white;
    font-family: serif;
    font-size: 15px;
    margin: 20px 360px;
    position: absolute;
    width: 400px;
}
.github{
    height: auto;
    margin-left: 90%;
    margin-top: 19px;
    position: absolute;
    width: 80px;
}